<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
  <meta>
  <meta property="og:title" content="C.V Javier Suarez" />
  <meta property="og:type" content="image" />
  <meta property="og:url" content= "https://p2-30148370-wk2q.onrender.com"/>
  <meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdemonslayer-hinokami.sega.com%2F%3Fregion%3Des&psig=AOvVaw1Fs4e8CA6gxbyXoYBidhl1&ust=1687029950602000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPD48u_DyP8CFQAAAAAdAAAAABAE" />

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-37QEMCEWYD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-37QEMCEWYD');
</script>
</head>
<script>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }
</script>
<body>
  <button class="dog">
    <a style="color: #fff" target="_blank" href="/"  class="form_contact">Traducir a Español</a>
 </button>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <div class="ojo">
    
      <img src="images/javi.jpg" alt="2x2" width="120" height="120"> 
      <h1>Javier Jesus Suarez Valor</h1>
      <p><span>Email:</span> javiersuarez0310@gmail.com.</p>
      <p><span>Address:</span> La Montaña Urbanization.</p>
      <p>Programming 2 section 1</p>

    <fieldset>
        <legend>Profile</legend>
        <ul>
      <li>
        <p>Computer Engineering student looking for professional internships.
          Very interested in handling programming languages,
          but open to all kinds of practices.<br>
          I am passionate about science and everything related to technology and I would love to have the
          opportunity to apply the knowledge I possess and nourish myself with new learning.
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Personal data</legend>
      <ul>
      <li><span>Date of birth:</span> 3/10/2003.</li>
      <li><span>ID:</span> 30.148.370.</li>
      <li><span>Telephone:</span> 0424-3040661.</li>
      <li><span>City:</span> Turmero.</li>
      <li><span>Country:</span> Venezuela.</li>
      <li><span>Marital Status: </span> Single.</li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Education</legend>
      <ul>
        <li>
          <p><span>Institution:</span> Romulo Gallegos National Expirental University of the Central Plains.</p>
          <p><span>Dates:</span> 10/19/2021 - Present.</p>
          <p><span>Title to obtain:</span> Computer Engineer-studying 4th semester.</p>
        </li>
        <li>
          <p><span>Institution:</span> Victor Angel Hernandez National Educational Unit.</p>
          <p><span>Dates:</span> 10/3/2016 - 7/14/2021.</p>
          <p><span>Title:</span> Bachelor of Science. </p>
        </li>
        <li>
          <p><span>Institution:</span> Josefina Crespo Educational Unit.</p>
          <p><span>Dates:</span> 9/1/2011 - 7/12/2016.</p>
          <p><span>Title:</span> 6th grade passed. </p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Work experience</legend>
        <ul>
      <li>
        <p><span>Activity:</span></p>
        <p> Math Coach.</p>
        <p> Basic Repair of Electronic Equipment.</p>
        <p> Videogame Development.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Skills</legend>
      <ul>
      <li>
        <p>* Ethics.</p>
        <p>* Analytical Thinking.</p>
        <p>* Customizable</p>
        <p>* Teamwork.</p>
        <p>* Leadership.</p>
        <p>* Motivation.</p>
        <p>* Honored.</p>
        <p>* Reliable.</p>
        <p>* Punctual.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Skills</legend>
      <ul>
      <li>
        <p>* Development of web pages.</p>
        <p>* Development of Basic Programs.</p>
        <p>* Creation of Algorithms.</p>
        <p>* Math Prep.</p>
        <p>* Simple video game creation.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
    <legend>Networks</legend>
      <ul>
      <li>
        <A HREF="https://www.facebook.com/"> facebook.com </A><br>
        <A HREF="https://web.telegram.org/"> telegram.com </A><br>
        <A HREF="https://www.youtube.com/"> youtube.com </A>
      </li>
      </ul>
       
    </fieldset>

    <form action="/2003" method="post">
 
  <div class="pez">
    <h1>Contact Us</h1>
    <a target="_blank" href="/login" class="form_contact">form registration</a></p>
    <div class="grupo">
       <label for="email">Enter Email</label>
    <input type="email" name="email" id="email">
    </div>
   <div class="grupo">
     <label for="name">Enter Name</label>
    <input type="text" name="name" id="name">
   </div>
 
   <div class="grupo">
     <label for="comment">Comment</label>
    <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
   </div>
    <div class="grupo">
  <div class="g-recaptcha" data-sitekeys="6LfVBGMmAAAAAFT8P1q4MvJuOAm44jMEIiHSSOky"></div>
</div>
   <div class="grupo">
    <button type="submit">Send</button> 
    </div>
    <input  id="time" type="hidden" name="time" value="<$=datas.time$>">
    <input id="country" type="hidden" name="country" value="<$=datas.country$>">
    </div>
</form>

</div>
</body>
</html>
