<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div>
    
      <img src="images/javi.jpg" alt="2x2" width="120" height="120"> 
      <h1>Javier Jesus Suarez Valor</h1>
      <p><span>Correo electrónico:</span> javiersaurez0310@gmail.com.</p>
      <p><span>Dirección:</span> Urbanizacion La Montaña.</p>
      <p>Programación 2 sección 1</p>

    <fieldset>
        <legend>Perfil</legend>
        <ul>
      <li>
        <p>Estudiante de  Ingenieria en Informatica buscando prácticas profesionales.
          Muy interesado en el manejo de lenguajes de programación,
          pero abierto a todo tipo de prácticas.<br>
          Me apasiona la ciencia y todo lo relacionado con la tecnología y me encantaría tener la 
          oportunidad de aplicar los conocimientos que poseo y nutrirme de nuevos aprendizajes.
      </li>
      </ul>
    </fieldset>
    <fieldset>
    <legend>Datos personales</legend>
      <ul>
      <li><span>Fecha de nacimiento:</span> 3/10/2003.</li>
      <li><span>Cedula:</span> 30.148.370.</li>
      <li><span>Teléfono:</span> 0424-3040661.</li>
      <li><span>Ciudad:</span> Turmero.</li>
      <li><span>País:</span> Venezuela.</li>
      <li><span>Estado Civil: </span> Soltero.</li>
      </ul>
    </fieldset>

    <fieldset>
    <legend>Formación académica</legend>
    <ul>
      <li>
        <p><span>Institución:</span> Universidad Nacional Expirental De Los Llanos Centrales Romulo Gallegos.</p>
        <p><span>Fechas:</span> 19/10/2021 - Actualidad.</p>
        <p><span>Título a obtener:</span> Ingeniero en Informatica-cursando 4to semestre.</p>
      </li> 
      <li>
        <p><span>Institución:</span> Unidad Educativa Nacional Victor Angel Hernandez.</p>
        <p><span>Fechas:</span> 3/10/2016 - 14/7/2021.</p>
        <p><span>Título:</span> Bachiller en ciencias. </p>
      </li>
      <li>
        <p><span>Institución:</span> Unidad Educativa Josefina Crespo.</p>
        <p><span>Fechas:</span> 1/9/2011 - 12/7/2016.</p>
        <p><span>Título:</span> 6to grado aprobado. </p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
        <legend>Experiencia laboral</legend>
        <ul>
      <li>
        <p><span>Actividad:</span></p>
        <p> Preparador de Matematica.</p>
        <p> Reparador Basico de Equipos Electronicos.</p>
        <p> Desarrollo de Videojuegos.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Habilidades</legend>
      <ul>
      <li>
        <p>* Etica.</p>
        <p>* Pensamiento Analítico.</p>
        <p>* Adaptable</p>
        <p>* Trabajo en Equipo.</p>
        <p>* Liderazgo.</p>
        <p>* Motivación.</p>
        <p>* Honrado.</p>
        <p>* Confiable.</p>
        <p>* Puntual.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Destrezas</legend>
      <ul>
      <li>
        <p>* Desarrollo de Paginas web.</p>
        <p>* Desarrollo de Pragramas Basicos.</p>
        <p>* Creacion de Algoritmos.</p>
        <p>* Preparator de Matematica.</p>
        <p>* Creación de videojuegos Simples.</p>
      </li>
      </ul>
    </fieldset>
    <fieldset>
    <legend>Redes</legend>
      <ul>
      <li>
        <A HREF="https://www.facebook.com/"> facebook.com </A><br>
        <A HREF="https://web.telegram.org/"> telegram.com </A><br>
        <A HREF="https://www.youtube.com/"> youtube.com </A>
      </li>
      </ul>
    </fieldset>
</div>
<form action="/" method="post">
  <div class="pez">
    <label for="email">Ingrese Email</label>
    <input type="email" name="email" id="email">
 
    <label for="name">Ingrese Nombre</label>
    <input type="text" name="name" id="name">
    </div>
  <div class="pez">
    <label for="comment">Comentarios</label>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    <button type="submit">ENVIAR</button> 
</div>

</form>
</body>
</html>
