body {
  font-family: Arial, Helvetica, sans-serif;
  background:#94F1D6;
 }
div{
background-color: white;
border: 1px solid black;
padding: 12px;
width: 60%;
margin: 0 auto;
}
fieldset{
  margin-bottom: 12px;
}
legend{
  background-color:#74b49b ;
  padding: 5px;
  border-radius:20px;
  font-weight: bold;

}


img {
margin-bottom: 12px;
margin-right: 30px;
border-radius:50%;
float: left;

}
 h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 li {
  margin-bottom: 10px;
 }

 span {
  font-weight: bold;
  
  width: 100px;
 }

 p {
  margin-top: 0;
  margin-bottom: 2;
 }
 A {
  margin-top: 0;
  margin-bottom: 2;
 }
